<div class="menu-container">
  <img class="brain" src="../../../assets/wrinkle_tech_brain.png" />

  <h1>Wrinkle Brain Games</h1>

  <div class="buttons-container">
    <button
      class="rounded-pill bg-asphalt text-light menu-btn wbg-btn tg-btn"
      routerLink="/lobby"
    >
      trivia game
    </button>

    <button class="rounded-pill btn-hacker menu-btn" routerLink="/simonlobby">
      hacker memory game
    </button>

    <button
      class="rounded-pill menu-btn wbg-btn dg-btn"
      routerLink="/drawlobby"
    >
      <div class="btn-wrapper">
        <img class="pix" src="../../../assets/snail.png" />
        <div>
          drawing game
        </div>
      </div>
    </button>
  </div>

  <!-- <h3 class="rounded-pill bg-dark text-light shadow-lg p-3">
      carrrd game
    </h3> -->
</div>
