
h3
    &:hover
        cursor: pointer
        &:nth-child(2)
            background-color: #27ae60
        &:nth-child(3)
            background-color: #e74c3c
            color: white
        &:nth-child(4)
            background-color: #f1c40f
