<link
  href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <div class="draw-lobby-container">
    <div class="top-container">
      <div *ngIf="inRoom" class="room-code-container">
        <p>room code:</p>
        <h1 style="text-transform: uppercase;">{{ roomCode }}</h1>
      </div>
      <h1>Drawing Lobby</h1>
    </div>

    <div *ngIf="!inRoom" class="active-game-lobbies">
      <p>active game lobbies:</p>
      <p *ngIf="activeDrawGameLobbies.length == 0">
        no game lobbies at the moment!
      </p>
      <div class="active-game-lobbies-grid">
        <div *ngFor="let lobby of activeDrawGameLobbies">
          {{ lobby }}
        </div>
      </div>
    </div>

    <div *ngIf="inRoom" class="players-container">
      <div class="player-grid">
        <div *ngFor="let player of roomDrawPlayers">
          <div class="player-grid-box">
            <div *ngIf="player.imageUrl != undefined">
              <img
                src="{{ playerImgUrl + player.imageUrl }}"
                width="80"
                height="80"
              />
            </div>

            <div *ngIf="player.color1" [style.color]="player.color1">
              {{ player.name }}
            </div>
            <div>
              <span *ngIf="player.readyToStart" class="ready"
                ><img class="pix" src="../../../assets/check.png" />ready</span
              >
              <span *ngIf="!player.readyToStart" class="not-ready"
                ><img class="pix" src="../../../assets/cancel.png" />not
                ready</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <section
      *ngIf="!inRoom"
      class="enter-room-code-section border-gradient-purple"
    >
      <h2>enter room code:</h2>
      <div class="input-wrapper">
        <input #roomcode type="text" name="roomcode" maxlength="4" />
        <button (click)="enterRoom(roomcode.value)">enter!</button>
      </div>
    </section>

    <section
      *ngIf="inRoom && avatarChosen == false"
      class="join-game-section border-gradient-purple"
    >
      <div class="join-game-section-left" *ngIf="hasUsername == false">
        <h2>step 1 of 2:</h2>
        <h2>username</h2>
        <div class="username-input-wrapper">
          <input
            id="username-input"
            #username
            type="text"
            name="username"
            maxlength="20"
          />
          <button (click)="addusername(username.value)">add me!</button>
        </div>
      </div>

      <div class="placeholderimg-container" *ngIf="hasUsername == false">
        <img src="{{ playerImgUrl + placeHolderImg }}" width="80" height="80" />
      </div>
      <div class="placeholderimg-container" *ngIf="hasUsername">
        <img src="{{ playerImgUrl + placeHolderImg }}" width="80" height="80" />
      </div>

      <div class="join-game-section-right" *ngIf="hasUsername">
        <h2>step 2 of 2:</h2>
        <h2>choose avatar</h2>
        <div class="image-choice-wrapper">
          <button (click)="keepplaceholder()">keep this</button>
          <button (click)="drawmyown()">draw new</button>
        </div>
      </div>
    </section>

    <!-- <section
      *ngIf="isAdmin && hasUsername && playerImgReceived == true"
      class="join-game-section border-gradient-purple"
    >
      
    </section> -->

    <section
      *ngIf="avatarChosen"
      class="waiting-section border-gradient-purple"
    >
      <div *ngIf="isAdmin && readyToStart" class="username-input-wrapper">
        <button (click)="startGame()">start game</button>
      </div>
      <div *ngIf="!readyToStart || !isAdmin" class="username-input-wrapper">
        <h2>waiting for other players + admin to start game</h2>
      </div>
    </section>

    <section
      *ngIf="hasUsername && playerImgReceived == false && drawMyOwn"
      class="join-game-section border-gradient-purple"
    >
      <div class="username-input-wrapper">
        <h2>loading avatar draw screen ..</h2>
      </div>
    </section>

    <div *ngIf="countdown" class="countdown">
      <div>game starts in -</div>
      <div #timeleft id="time-to-start">3</div>
    </div>
  </div>
</div>
