<link
  href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap"
  rel="stylesheet"
/>

<app-navbar></app-navbar>

<div *ngIf="promptLobby == false">
  <canvas #canvas id="canvas"></canvas>

  <div class="draw-wrapper">
    <div>
      <div class="prompt-container">
        <h5>draw this prompt:</h5>
        <div>
          <h1 #prompt></h1>
          <span>time left = </span><span #counter></span>
        </div>
      </div>
    </div>
    <div class="colors-wrapper">
      <div class="color-btn" #color1 id="color1" [ngStyle]="getColor1()"></div>
      <div class="color-btn" #color2 id="color2" [ngStyle]="getColor2()"></div>
      <button #clearCanvasBtn id="clearCanvasBtn">
        clear canvas
      </button>
    </div>
  </div>
  <footer class="join-game-footer">
    <div class="input-wrapper border-gradient-purple">
      <button #avatarBtn id="avatar-btn" (click)="stopInterval()">
        done
      </button>
    </div>
  </footer>
</div>

<div *ngIf="promptLobby == true" class="prompt-lobby-container">
  <h3>Prompt Lobby</h3>

  <div class="snails-container">
    <div *ngFor="let gary of garysList" class="gary-container">
      <span [style.color]="gary.color1">
        {{ gary.garyTrail }}
      </span>
      <img class="gary" src="../../../assets/snail.png" />
      <span class="img-name-wrapper">
        <img
          *ngIf="gary.stillDrawing == false"
          class="gary"
          src="{{ playerImgUrl + gary.imageUrl }}"
          width="70"
          height="=70"
        />
        <small [style.color]="gary.color1">{{ gary.name }}</small>
      </span>
    </div>
  </div>

  <section class="join-game-section border-gradient-purple">
    <div
      *ngIf="isAdmin && promptLobbyPlayers.length == garysList.length"
      class="waiting-wrapper"
    >
      <button (click)="startPrompt()">start prompt</button>
    </div>
    <div *ngIf="!isAdmin" class="waiting-wrapper">
      <h6>
        waiting for other players to finish drawing and for the admin to start
        game
      </h6>
    </div>
  </section>

  <div *ngIf="countdown" class="countdown">
    <div>let's see some amazing artwork in -</div>
    <div #timeleft id="time-to-start">3</div>
  </div>
</div>
