<div class="container bg-light text-center">
  <div class="progress">
    <div
      #progressBar
      class="progress-bar mt-5 bg-success progress-bar-striped"
      role="progressbar"
      style="width: 100%;"
    ></div>
  </div>
  <div class="h-100 d-flex justify-content-around flex-column">
    <div class="row col-11 mx-auto">
      <div class="row mx-auto m-3">
        <div class="col-12 mt-5 mx-auto">
          <span
            class="badge rounded-pill p-2 m-1"
            *ngFor="let player of players"
            [ngClass]="player.isAdmin ? 'bg-warning' : 'bg-primary'"
            >{{ player.name }}</span
          >
        </div>
      </div>
      <h4 class="border border-primary rounded p-3">
        {{ questionTrivium.question }}
      </h4>
    </div>
    <div class="row mt-5 col-12 mx-auto">
      <div class="container">
        <div class="row g-2">
          <div class="col-6">
            <p class="p-3 border text-light rounded-pill bg-primary">
              {{ answerOptions[0].answer }}
            </p>
          </div>
          <div class="col-6">
            <p class="p-3 border text-light rounded-pill bg-warning">
              {{ answerOptions[1].answer }}
            </p>
          </div>
          <div class="col-6">
            <p class="p-3 border text-light rounded-pill bg-info">
              {{ answerOptions[2].answer }}
            </p>
          </div>
          <div class="col-6">
            <p class="p-3 border text-light rounded-pill bg-danger">
              {{ answerOptions[3].answer }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
