<div
  *ngIf="!roomCode"
  class="container mx-auto mt-5 text-center bg-light p-5 col-lg-6 col-sm-10 col-md-8"
>
  <h1 class="mt-5">Enter Game Lobby Code</h1>
  <div
    class="mt-5 row d-flex flex-column justify-content-center align-items-center mb-3"
  >
    <label for="lobbycode" class="col-form-label">lobby code</label>
    <div class="col-5">
      <input
        #roomCode
        maxlength="4"
        type="text"
        class="form-control text-center"
        style="text-transform: uppercase;"
        id="lobbycode"
        required
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="enterGameLobby(roomCode.value)"
  >
    enter
  </button>
</div>

<div class="container text-center" *ngIf="roomCode">
  <div class="col-12 mt-5 mx-auto">
    <span
      class="badge rounded-pill p-2 m-1"
      *ngFor="let player of players"
      [ngClass]="player.isAdmin ? 'bg-warning' : 'bg-primary'"
      >{{ player.name }}</span
    >
  </div>
  <h1 class="mt-5">Game Lobby - {{ roomCode }}</h1>

  <div *ngIf="!userAdded" class="">
    <div class="col-6 mx-auto">
      <label for="username" class="col-form-label">Username</label>
      <div class="">
        <input
          #userName
          type="text"
          class="form-control col-4 my-1"
          id="username"
          (keyup.enter)="addUserToLobby(userName.value); userName.value = ''"
        />
      </div>

      <button
        type="submit"
        (click)="addUserToLobby(userName.value); userName.value = ''"
        class="btn btn-primary mt-2"
      >
        enter!
      </button>
    </div>
  </div>

  <div *ngIf="userAdded && player.isAdmin">
    <button
      type="submit"
      (click)="initiateStartGame()"
      class="btn btn-success mt-2"
    >
      Start Game!
    </button>
  </div>
</div>
