<div class="container">
  <div class="col-12 mt-5">
    <div *ngIf="scoreResults" class="col-10 mx-auto">
      <div *ngIf="this.scoreResults.lastRound">
        <h1>final score</h1>
      </div>
      <p class="text-center">brains with some wrinkle</p>

      <p class="border border-primary p-1 text-center">
        {{ scoreResults?.question }}
      </p>
      <!-- <h5 class="border border-success p-1 text-center">
        {{ scoreResults?.answer }}
      </h5> -->
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Player</th>
            <th scope="col">Score</th>
            <th scope="col">Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of scoreResults.players">
            <th *ngIf="player.answer == scoreResults.answer" scope="row">
              {{ player.name }}
            </th>
            <td *ngIf="player.answer == scoreResults.answer">
              {{ player.score }}
            </td>
            <td
              *ngIf="player.answer == scoreResults.answer"
              colspan="2"
              class="text-success"
            >
              {{ player.answer }}
            </td>
          </tr>
          <tr *ngFor="let player of scoreResults.players">
            <th *ngIf="player.answer != scoreResults.answer" scope="row">
              {{ player.name }}
            </th>
            <td *ngIf="player.answer != scoreResults.answer">
              {{ player.score }}
            </td>
            <td
              *ngIf="player.answer != scoreResults.answer"
              class="text-danger"
            >
              {{ player.answer }}
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!scoreResults">
        Loading Scores...
      </div>

      <div *ngIf="this.scoreResults.lastRound">
        <button class="btn btn-primary mr-2" [routerLink]="['/']">
          main menu
        </button>
        <button class="btn btn-success" [routerLink]="['/lobby']">
          play again
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!this.scoreResults.lastRound" class="progress">
    <div
      #progressBar
      class="progress-bar bg-info progress-bar-striped"
      role="progressbar"
      style="width: 100%;"
    >
      {{ secondsLeft }}
    </div>
  </div>
</div>
